<h3>活动详情</h3>
<p>
  <strong>title:</strong>
  <%= @activity.title %>
</p>
<p>
  <strong>style:</strong>
  <%= @activity.style %>
</p>
<p>
  <strong>limitednumber:</strong>
   <%= @activity.limitednumber %>
</p>
<p>
  <strong>starttime:</strong>
  <%= @activity.starttime %>
</p>
<p>
  <strong>deadline:</strong>
  <%= @activity.deadline %>
</p>

<strong>introduction:</strong>   
<span class="content"><%= @activity.introduction %></span>
<br>
<%= link_to "参加",new_activity_participation_path(@activity) %>
<%= link_to "评论", new_activity_review_path(@activity)%>
